{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultureandheritage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/style.css"> 
</head>
<body>
    <header>
        <div class="navbar">
            <div class="nav-logo border">
                <div class="logo">
                </div>
            </div>

            <div class="nav-address border">
                <div class="addicon" style="display: flex; align-items: center;">
                    
            </div>
            </div>
            <div class="nav-search">
                <select class="search-select">
                    <option style="-webkit-text-fill-color: black;">All</option>
                </select>
                <input class="search-input" style="-webkit-text-fill-color: rgb(109, 107, 107);"      placeholder="Search Places">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="nav-signin border">
                <a href="login/" style="color: white;">Login</a>
            </div>
            <div class="nav-signin border">
                <a href="signup/" style="color: white;">Signup</a>
            </div>
            <div class="cart">
                <i class="fa-solid fa-cart-shopping"></i>
                Cart
            </div>
        </div>
        <div class="panel">
            <div class="menu border">
                <i class="fa-solid fa-bars"></i>
            All
            </div>
            <div class="opts border">
                <p>Today's events</p>
                <p>Customer service</p>
                <p>Participate</p>
    
            </div>
            <div class="shopdeals border">
                <a href="post/" style="color: white;">See what contributor show!!</a>
            </div>
        </div>
    </header>
    <div class="hero-section">
        <div class="heromsg">
            
        </div>
    </div>
    <div class="between">
        <div class="tagline">
            <p>Art Gallery</p>
            <div class="betbox">
            <div class="boxv" style="background-image: url('static/bharat.jpg');"></div>
            <div class="boxv" style="background-image: url('static/jalikattu.jpg');"></div>
            <div class="boxv" style="background-image: url('static/therkothu.jpg');"></div>
            <div class="boxv" style="background-image: url('static/dance.jpg');"></div>
            <div class="boxv" style="background-image: url('static/chithirai.jpg');"></div>
        </div>
        <p>Crafts</p>
        <div class="betbox">
        <div class="boxv" style="background-image: url('static/craft1.jpg');"></div>
        <div class="boxv" style="background-image: url('static/craft2.jpg');"></div>
        <div class="boxv" style="background-image: url('static/craft3.jpg');"></div>
        <div class="boxv" style="background-image: url('static/craft4.jpg');"></div>
        <div class="boxv" style="background-image: url('static/craft5.jpg');"></div>

        </div>
    </div>
    <div class="trip-planner">
        <p>Plan your trip with most visited places</p>
    </div>
    <div class="shop-section">
        <div class="box1 box">
            <div class="boxcontent">
                <h2>Mahabalipuram</h2>
            <div class="box-img" style="background-image: url('static/mh.jpg');"></div>
            <p>See more</p>
            </div>
        </div>
        <div class="box2 box">
            <div class="boxcontent">
                <h2>Kanyakumari</h2>
            <div class="box-img" style="background-image: url('static/kk.jpg');"></div>
            <p>See more</p>
            </div>
        </div>
        <div class="box3 box">
            <div class="boxcontent">
                <h2>Kodaikonal</h2>
            <div class="box-img" style="background-image: url('static/kodai.jpg');"></div>
            <p>See more</p>
            </div>
        </div>
        <div class="trip-planner">
            <p>Recent Cultural News </p><br>
            <p>-> Updates</p><br>
            <p>->Participate</p><br>
        </div>
        <div class="box4 box">
            <div class="boxcontent">
                <h2>Dance fest</h2>
            <div class="box-img" style="background-image: url('static/news1.jpg');"></div>
            <p>See more</p>
            </div>
        </div>
        <div class="box1 box">
            <div class="boxcontent">
            <h2>Pongal celebration</h2>
            <div class="box-img" style="background-image: url('static/news2.jpg');"></div>
            <p>See more</p>
            </div>
        </div>
        
        <footer>
            <div class="container">
                <div class="col-12 text-center border-bottom border-grey mb-4 pb-4">
                    <p class="mb-0 font-secondary font-16 text-grey">
                    Toll Free No: <a href="tel:1800-425-31111" class="text-grey text-decoration-none">1800-425-31111</a> (Within India only) Department of Tourism, Government of Tamil Nadu, #2, Wallajah Road, Chennai - 600002<br>
                        Fax: +044 25333385, 25333567 | Email: <a href="mailto:tourism@tn.gov.in" class="text-grey text-decoration-none">tourism@tn.gov.in</a>
                    </p>
                </div>
                <div class="row">
                    <div class="col-12 text-center mb-4">
                        <p class="mb-0 font-secondary font-14 text-grey">
                        All rights reserved © Tamil Nadu Tourism 2024. <a href="https://www.tamilnadutourism.tn.gov.in/copyright" class="text-grey text-decoration-none hover-color-theme">Copyright</a> | <a href="https://www.tamilnadutourism.tn.gov.in/terms-of-use" class="text-grey text-decoration-none hover-color-theme">Terms of Use</a> | <a href="https://www.tamilnadutourism.tn.gov.in/cookie-policy" class="text-grey text-decoration-none hover-color-theme">Cookie Policy</a> |
                            <a href="https://www.tamilnadutourism.tn.gov.in/contact" class="text-grey text-decoration-none hover-color-theme">Contact Us</a> <br>
                            Developed &amp; Maintained by Invis Private Limited.
                        </p>
                    </div>
                    <div class="col-12 text-center">
                        <ul class="p-0 m-0 social-links">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/tntourismoffcl/" target="_blank" class="facebook">
                                    
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/tntourismoffcl/" target="_blank" class="instagram">
                                    
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/tntourismoffcl" target="_blank" class="twitter">
                                    
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.youtube.com/c/TamilnaduTourismOnline" target="_blank" class="youtube">
                                    
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/company/tamil-nadu-tourism/" target="_blank" class="linkedin">
                                    
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        {% block content %}
        {% endblock %}

</body>
</html>